
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
  z-index: 100;
}
.text-box
{
  border:1px solid #e3e6f0;background-color:white;
  border-radius: 10px 10px 10px 10px;
}
.h3{
  margin-left: 20px;
  margin-top: 10px;
}
#file{
  margin-top: -40px;
}
#upload-status,#name-status,#description-status,#action-status{
  color:red;
}
#action{
  border:1px solid #e3e6f0;
  color:#858796;
}

#startDate{margin-left: 10px;}
  .btn-successs{background-color: #4e73df;}
  .btn{border-radius: 100px!important;}
  input ,textarea,.input-group-append,select{
    border:none;
box-shadow:1px 1px 7px 2px rgba(1,1,1,0.2);
transition: 0.3s ease;
}
.txt_name:focus{
  border:none;
box-shadow:1px 1px 7px 2px rgba(245, 3, 3, 0.966);
transition: 0.3s ease;
}
